<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pe-3">Edit Food Type</h2>
            <hr />
        </div>
        <input type="hidden" name="Id" [value]="foodType.id"/>
        <div class="mb-3">
            <label class="form-label">Name: </label> 
            <input type="text" class="form-control" placeholder={{foodType.name}} 
            name="CategoryName" #Name="ngModel" [(ngModel)]="foodType.name" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
    </div>
</form>
