<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Food Type List</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary" href="createFoodType">
                Create New Food Type
            </a>
        </div>        
    </div>
    
    <br /><br />

    <table class="table table-light table-striped table-bordered">
        <thead>
            <tr>
                <th>Food Type Name</th>
                <th></th>
            </tr>          
        </thead>
        <tbody>
            <tr *ngFor="let foodType of foodTypes">
                <td class="col-8">{{foodType.name}}</td>
                <td>
                    <a class="btn btn-success col-5" (click)="this.foodTypeService.loadData(foodType)">
                        Update
                    </a>
                    <button class="btn btn-danger col-5 float-end" (click)="onDelete(foodType.id)">
                        Delete
                    </button>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>