<form  #form="ngForm" (submit)="onSubmit(form)">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pe-3">Create Category</h2>
            <hr />
        </div>
        <input type="hidden" name="Id" [value]="category.id"/>
        <div class="mb-3">
            <label class="form-label">Name: </label> 
            <input type="text" class="form-control" placeholder="Category Name" name="categoryName"
            [(ngModel)]="category.name" #name="ngModel" required>
            <small class="text-danger" *ngIf="(name.touched || name.pristine) && name.invalid">
                Name field is required*
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Display Order: </label>
            <input type="number" class="form-control" placeholder="Display Order" name="displayOrder" min = "1"
            required [(ngModel)]="category.displayOrder" #displayOrder="ngModel" max="100"/>
             <small class="text-danger" *ngIf="(displayOrder.touched || displayOrder.pristine) && displayOrder.invalid">
                Display order must be 1 - 100*
            </small>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;" [disabled]="form.invalid">Create</button>
    </div>
</form>
