<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pe-3">Create Category</h2>
            <hr />
        </div>
        <input type="hidden" name="Id" [value]="category.id"/>
        <div class="mb-3">
            <label class="form-label">Name: </label> 
            <input type="text" class="form-control" placeholder="Category Name" name="CategoryName"
            #Name="ngModel" [(ngModel)]="category.name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Display Order: </label>
            <input type="text" name="displayOrder" placeholder="Display Order" 
            class="form-control" #Name="ngModel" [(ngModel)]="category.displayOrder"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
    </div>
</form>
