<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu Item List</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary" href="upsertMenuItem">
                {{menuItem.id != 0 ? "Update " : "Create "}}Menu Item
            </a>
        </div>        
    </div>
    
    <br /><br />

    <table class="table table-light table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Food Type</th>
                <th></th>
            </tr>          
        </thead>
    </table>
</div>
