<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary" href="createCategory">
                Create New Category
            </a>
        </div>        
    </div>
    
    <br /><br />

    <table class="table table-light table-striped table-bordered">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>          
        </thead>
        <tbody>
            <tr *ngFor="let category of Categories">
                <th>{{category.id}}</th>
                <th>{{category.name}}</th>
                <th>{{category.displayOrder}}</th>
            </tr>
        </tbody>
    </table>
</div>