<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary" href="createCategory">
                Create New Category
            </a>
        </div>        
    </div>
    
    <br /><br />

    <table class="table table-light table-striped table-bordered">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>          
        </thead>
        <tbody>
            <tr *ngFor="let category of Categories">
                <td class="col-5">{{category.name}}</td>
                <td class="col-4">{{category.displayOrder}}</td>
                <td>
                    <a class="btn btn-success col-5" (click)="this.categoryService.loadData(category)">
                        Update
                    </a>
                    <button class="btn btn-danger col-5 float-end" (click)="onDelete(category.id)">
                        Delete
                    </button>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>