<form >
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pe-3">Create Food Type</h2>
            <hr />
        </div>
        <input type="hidden" name="Id" [value]=""/>
        <div class="mb-3">
            <label class="form-label">Name: </label> 
            <input type="text" class="form-control" placeholder="Food Type Name" 
            name="FoodTypeName" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
    </div>
</form>
